/* Resetando configurações padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Configuração do corpo do site */
body {
    background-image: url(../imagens/space-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
    height: 100vh;
}

/* Container do formulário */
#container {
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: white;
    width: 400px;
    height: 500px;
    margin: 150px auto 0 auto;
    border-radius: 8px; 
    border: 1px solid black;
    padding: 10px 20px;
    box-shadow: 1px 1px 10px black;
}

/* Titulo do formulário */
#container h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 26px;
    margin: 10px 0;
}

/* Configuração dos grupos de inputs e labels */
.input-group {
    display: flex;
    flex-direction: column;
}

/* Configuração os inputs */
.input-group input {
    padding: 10px 10px;
    font-size: 16px;
    background-color: lightgray;
    outline: none;
    border: none;
    border-radius: 5px;
    text-align: left;
}

/* Configurando os labels */
.input-group label {
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 10px;
}

/* Configurando os selects */
.input-group select {
    padding: 10px 10px;
    font-size: 16px;
    background-color: lightgray;
    outline: none;
    border: none;
    border-radius: 5px;
    text-align: left;
}

/* Botão que faz a conversão */
#convert-btn {
    padding: 10px;
    width: 30%;
    margin: 20px 0;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    background: rgb(255, 1, 1);
    text-transform: uppercase;
    cursor: pointer;
}

/* Transição do botão */
#convert-btn:hover {
    background-color: green;
    color: white;
    transition: 1.5s;
}

.output-group {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.output-group input {
    padding: 10px 10px;
    font-size: 16px;
    background-color: lightgray;
    border: none;
    margin-top: 5px;
    border-radius: 5px;
}

/* mensagem da conversão */
#message {
    margin-top: 10px;
    text-align: center;
    color: green;
    font-size: 14px;
}

/* Responsivo */
/* Telas de 834px */
@media screen and (max-width:834px) {
/* Container do formulário */
#container {
    margin: 200px auto 0 auto;
}
}

/* Telas de 428px */
@media screen and (max-width:428px) {
/* Container do formulário */
#container {
    margin: 150px auto 0 auto;
}
}

/* Telas de 390px */
@media screen and (max-width: 390px) {
/* Container do formulário */
#container {
    width: 350px;
    height: 500px;
    margin: 100px auto 0 auto;
}

/* Titulo do formulário */
#container h1 {
    font-size: 22px;
}

/* Configuração os inputs */
.input-group input {
    font-size: 16px;
}

/* Configurando os labels */
.input-group label {
    font-size: 18px;
}

/* Configurando os selects */
.input-group select {
    font-size: 16px;
}

/* Botão que faz a conversão */
#convert-btn {
    width: 35%;
}
}

/* Telas de 360px */
@media screen and (max-width: 360px) {
/* Container do formulário */
#container {
    width: 320px;
    height: 490px;
    margin: 100px auto 0 auto;
}

/* Titulo do formulário */
#container h1 {
    font-size: 20px;
}

/* Configuração os inputs */
.input-group input {
    font-size: 16px;
}

/* Configurando os labels */
.input-group label {
    font-size: 18px;
}

/* Configurando os selects */
.input-group select {
    font-size: 16px;
}

/* Botão que faz a conversão */
#convert-btn {
    width: 35%;
}

/* mensagem da conversão */
#message {
    font-size: 12px;
}
}

/* Telas de 320px */
@media screen and (max-width: 320px) {
body {
    height: 100%;
}
/* Container do formulário */
#container {
    width: 280px;
    height: 480px;
    margin: 10px auto 0 auto;
}

/* Titulo do formulário */
#container h1 {
    font-size: 18px;
}

/* Configuração os inputs */
.input-group input {
    font-size: 14px;
}

/* Configurando os labels */
.input-group label {
    font-size: 16px;
}

/* Configurando os selects */
.input-group select {
    font-size: 14px;
}

/* Botão que faz a conversão */
#convert-btn {
    width: 45%;
}

/* mensagem da conversão */
#message {
    font-size: 10px;
}
}
